In [1]:
import pandas as pd
import numpy as np

In [2]:
import os 

os.chdir("/home/jaimedgp/Repositories/AirQualityCOVID/")

In [3]:
data = pd.read_csv("./data/Cross-validation/sites.csv")
data["values"] = 3

In [4]:
data.head()

      site variable         site_name Municipio  Población  values
0  es0110a    pm2.5           ERANDIO    Bilbao     346843       3
1  es0118a       no  ESCUELAS AGUIRRE    Madrid    3266126       3
2  es0118a      no2  ESCUELAS AGUIRRE    Madrid    3266126       3
3  es0118a       o3  ESCUELAS AGUIRRE    Madrid    3266126       3
4  es0118a     pm10  ESCUELAS AGUIRRE    Madrid    3266126       3

In [5]:
a = data[["Municipio", "Población"]].drop_duplicates()

In [44]:
np.sum(a[["Población"]])

Población    13481269
dtype: int64

In [6]:
contamianntes = pd.pivot_table(data, 
                         index = ["site", "site_name", "Municipio", "Población"],
                         columns="variable", 
                         values="values",
                        ).replace(3, "x").replace(np.NAN, "-").reset_index()
contamianntes.rename(columns={"site": "Código", "site_name": "Nombre de la Estación",
                              "no": "$NO$", "no2": "$NO_2$", 
                              "o3": "O_3", "pm10": "$PM10$", "pm2.5": "$PM2.5$"}, inplace = True)
contamianntes.index += 1

In [8]:
contamianntes

variable,Código,Nombre de la Estación,Municipio,Población,$NO$,$NO_2$,O_3,$PM10$,$PM2.5$
1,es0110a,ERANDIO,Bilbao,346843,-,-,-,-,x
2,es0118a,ESCUELAS AGUIRRE,Madrid,3266126,x,x,x,x,x
3,es0890a,TORNEO,Sevilla,688592,x,x,x,-,-
4,es1047a,ROGER DE FLOR,Zaragoza,674997,x,x,x,x,-
5,es1096a,GOMEZ FRANQUEIRA,Ourense,105233,-,-,-,-,x
6,es1137a,ARENAL,Vigo,295364,x,x,x,x,x
7,es1181a,QUART DE POBLET,Valencia,794288,-,-,-,x,-
8,es1239a,VALÈNCIA-PISTA DE SILLA,Valencia,794288,x,x,x,-,x
9,es1244a,MAZARREDO,Bilbao,346843,x,x,-,x,-
10,es1272a,CONSTITUCIÓN,Gijón,271780,-,-,x,x,x
11,es1340a,POZO DULCE,Huelva,143663,-,-,-,x,-
12,es1438a,Barcelona (l'Eixample),Barcelona,1636762,x,x,-,-,-
13,es1492a,TRES MARZO,Vitoria,251774,-,-,-,-,x
14,es1580a,SANTANDER CENTRO,Santander,172539,x,x,-,x,-
15,es1610a,FONERS,Palma,416065,x,x,x,x,-
16,es1631a,ARCO DE LADRILLO II,Valladolid,298412,x,x,-,-,x
17,es1632a,VEGA SICILIA,Valladolid,298412,-,-,x,x,-
18,es1635a,ALACANT-EL PLÁ,Alicante,334887,-,-,x,-,-
19,es1697a,AVENIDA TOLOSA,San Sebastián,187415,-,-,x,-,x
20,es1938a,CASTELLANA,Madrid,3266126,-,-,-,-,x

In [7]:
contamianntes.to_latex("doc/Anexo/cv-estaciones_AQ.tex",
                       column_format="c"*(contamianntes.shape[1]+1),
                       label="tab:",
                       caption="",
                       index_names=False)

In [16]:
pd.read_csv("data/Results/vs_Predictions/change_resume.csv"
           ).rename(columns={"periods": "Periodos",
                             "no": "\\no", "no2": "\\nos", 
                             "o3": "\\oz", "pm10": "\\pmd",
                             "pm2.5": "\\pms"}
                   ).to_latex("doc/resultados/change_pred_resume.tex",
                              column_format="c"*(table.shape[1]+1),
                              label="tab:",
                              caption="",
                              index=False,
                              escape=False)

In [11]:
pd.read_csv("data/Clustering/breakpoints.csv"
           ).rename(columns={"periods": "Periodos",
                             "date.ref": "Fechas",
                            }
                   ).replace(np.NaN, "").to_latex("doc/resultados/breakpoints.tex",
                                                 column_format="c"*(table.shape[1]+1),
                                                 label="tab:",
                                                 caption="",
                                                 index=False,
                                                 escape=False)